<!DOCTYPE html>
<html>
    <head>
        <title>Teste form_teste!</title>
    </head>
    <body>
        <div>
            <h2>
                {{primeiro}}
            </h2>
            <h1>
                {{segundo}}
            </h1>

            <form name="formulario" action="POST">
                
                <input type="text" name="primeiro">
                <input type="text" name="segundo">
                
                <button type="submit" form="formulario" value="Submit">Enviar dados!</button>
            </form>
        </div>
    </body>
</html>